@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-image: url(./img/drink_pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: "lato", "san-serif";
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

/* Usind suodo class in adding dark ovelay */
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 5rem;
  margin: -7rem 0 3rem;
}

.countdown {
  display: flex;
  transform: scale(2);
  align-self: center;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.time h2 {
  margin: 0 0 0.3rem;
  padding: 0.5rem 0;
}

/* Media Query for phone size */
@media (max-width: 500px) {
  h1 {
    font-size: 3rem;
  }

  .time {
    margin: 0.5rem;
  }

  .time h2 {
    font-size: 1.5rem;
    margin: 0;
  }

  .time small {
    font-size: o.7rem;
  }
}
