@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url(./img/drink_pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
  color: #fff;
  font-family: "lato", 'san-serif';
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
